@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap'); */

.font-arimo {
  font-family: 'Arimo', sans-serif;
}
.font-mer{
  font-family: 'Merriweather', serif;
}
/* This resets colors during PDF export to avoid oklch errors */
.pdf-export * {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #000 !important;
  box-shadow: none !important;
}

